.form-group {
  display: flex;
  align-items: flex-start;
  word-break: break-all;

  .form-label {
    position: relative;
    display: flex;
    align-items: center;
    width: $label-width;
    min-height: $form-control-height;
    margin-right: space(2);
    font-weight: bold;
    color: $color-text-gray;
    text-align: left;

    // 必須項目マーク
    &.is-required {
      &::after {
        right: space(2);
        display: inline;
        flex: 0 0 auto;
        margin-left: space(1);
        font-size: font-size(12);
        color: $color-danger;
        content: '※';
      }
    }
  }

  .form-wrap {
    flex: 1 1 calc(100% - #{$label-width});
    min-height: $form-control-height;

    .form-note {
      margin-top: space(1);
    }
  }

  // form-group要素が並んだ時の上下の余白
  & + & {
    margin-top: space(2);
  }

  & + &.is-confirm {
    margin-top: space(4);
  }

  &.is-confirm {
    .form-label,
    .form-wrap {
      min-height: auto;
    }

    & + .form-group {
      margin-top: space(4);
    }
  }

  .form-check,
  .form-radio {
    $content-height: $base-line-height * $base-font-size-px;
    $check-top: ($form-control-height - $content-height) / 2;
    padding-top: $check-top;
  }
}

// レスポンシブ対応
@include media-queries($break-point-medium, max) {
  .form-group {
    flex-direction: column;

    .form-label,
    .form-wrap {
      width: 100%;
    }

    .form-label {
      min-height: auto;
      margin-right: 0;
      margin-bottom: space(1);
    }

    & + & {
      margin-top: space(3);
    }

    & + &.is-confirm {
      margin-top: space(3);
    }

    &.is-confirm {
      & + .form-group {
        margin-top: space(3);
      }
    }
  }
}
