// -------------------------------------
// チェックボックス
// -------------------------------------

@include make-checkbox(check) {
  label {
    &::before {
      position: absolute;
      top: 2px;
      left: 0;
      display: inline-block;
      width: $radio-size;
      height: $radio-size;
      content: '';
      background-color: palette(white, base);
      border: 1px solid palette(gray, light3);
      border-radius: 4px;
    }
  }

  input {
    &:checked + label {
      &::after {
        position: absolute;
        top: 3px;
        left: 1px;
        display: inline-block;
        color: $color-primary;
        @include icon('done');
      }
    }

    &:disabled {
      & + label {
        color: $color-text-gray;
        cursor: default;

        &::after {
          position: absolute;
          top: 2px;
          left: 0;
          display: inline-block;
          width: $radio-size;
          height: $radio-size;
          content: '';
          background-color: palette(gray, light4);
          border: 1px solid palette(gray, light3);
          border-radius: 4px;
        }
      }
    }
  }
}
