$label-width: 160px;
$radio-size: 16px;
$check-icon-size: 14px;
$input-icon-size: 14px;
$form-control-line-height: 1.15;
$form-control-gap: space(2);
$form-control-height: $form-control-line-height * $base-font-size-px + $form-control-gap * 2 + 2px;
