.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: space(4);
  background-color: rgba(palette(black), 0.5);

  &.is-opacity {
    background-color: palette(black);
  }
}

@include media-queries($break-point-small, max) {
  .overlay {
    padding: space(2);
  }
}
