* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  height: 100%;
  font-family: $font-family;
  font-size: $base-font-size;
}

body {
  height: 100%;
  margin: 0;
  line-height: $base-line-height;
  color: $color-text;
}

ol, ul {
  padding: 0;
  margin: 0;
	list-style: none;
}

img, video {
  max-width: 100%;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  /* stylelint-disable declaration-block-no-duplicate-properties */
	content: '';
  content: none;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;

  &:focus {
    outline: none;
  }
}

a {
  color: $color-primary;
  text-decoration: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=number] {
  // FireFox
  -moz-appearance: textfield;

  // Chrome、Safari
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

textarea {
  height: auto;
  resize: vertical;
}
